body{
	margin:0px;
	padding: 0px;
	background-color:rgb(233, 233, 233);
	overflow: hidden;
	font-family: system-ui;
}
.clearfix{
	clear: both;
}
.logo{
  padding:30px;
}
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 30px;
}
.sidenav a {
  padding: 15px 8px 15px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #5c5c5c;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
  background-color:#1b203d;
}
.sidenav{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 300px;
  max-height: 100vh;
  overflow: auto;

}
.head{
	padding:20px;
}
.col-div-6{
	width: 50%;
	float: left;
}
.profile{
	float: right;
	width: 160px;
}
.profile img{
  width:60px;
  margin: 5px;
  border-radius: 50%;
}

/* Hide the scrollbar arrows */
::-webkit-scrollbar-button {
  display: none;
}

/* Define the track of the scrollbar */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Define the thumb of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

/* Define the width of the scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
#bin:hover{
  color: white;
  background-color: #f7403b;
}
#tick:hover{
  color: white;
  background-color:rgb(72, 194, 72);
}
.del{width:100%;padding: 0;text-align:center;}

.del:hover{
  color: white;
  background-color: #f7403b;
}
#bin,#tick{
  text-align: center;
}
.pro-img{
	float: left;
	width: 40px;
	margin-top: 5px;
}
.profile p{
	color: black;
	font-weight: 600;
	margin-left: 55px;
	margin-top: 10px;
	font-size: 1.4em;
}
.profile p span{
	font-weight: 500;
    font-size: .9em;
    display: block;
    color: #000000;
}
.col-div-3{
	width: 25%;
	float: left;
}
.box{
	width: 85%;
	height: 100px;
	margin-left: 10px;
	padding:10px;
  border-radius: 12px;
}
.box p{
	 font-size: 35px;
    color: white;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 0;
    display: inline-block;
}
.box p span{
	font-size: 20px;
	font-weight: 400;
	color: white;
}
.box-icon{
	font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    color: #818181;
    padding-right: 10px;
}
.col-div-8{
  display: flex;
  margin-left: 20px;
	width: 96%;
	float: left;
}
.map{
  width: calc(50% - 30px);
}
.contain-comment{
  width: 30%;
}
.commentbox{
  width: 28%;
  height: 100%;
  max-height: 100vh;
  overflow-y: auto;
}

.ncmt{
  border-bottom:1px solid rgb(196, 196, 196);
  padding:10px;
}
.subcmt{
  display: flex;

  width: 100%;
align-items: center;
}
.subcmt .acc{
  font-size:45px;
}
.subcmt h3{
  width:100%;
  font-size: 1.1em;
  font-weight: 100;
  padding: 0;
  margin:0;
}
.ratetime{

width: 100%;
  display: flex;
  justify-content: space-between;

}
.cmteduser h5{
  display: flex;
  font-size: .9em;
  font-weight: 100;
  padding: 0;
  width:100%;
  margin:0;
}
.cmteduser{
  display: flex;
  width: 100%;
   
   flex-direction: column;

}

.subrate{
  width: 100%;
  display:flex;
  align-items:center;
  justify-content: space-between;
}
.col-div-4{
	width: 30%;
	float: left;
}
.content-box{
	padding: 20px;

}
.content-box p{
	margin: 0px;
    font-size: 20px;
    color: #f7403b;
}
.content-box p span{
	float: right;
    background-color: #ddd;
    padding: 3px 10px;
    font-size: 15px;
}
.box-8, .box-4{
	width: 100%;
	background-color: #272c4a;
}
.nav2{
	display: none;
}


table {
  background-color: white;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  overflow-y: scroll;
  margin-bottom: 150px;
}
td, th {
  text-align: center;
  padding:10px;
  color: black;
  border-bottom: 1px solid #81818140;
}
.circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #f7403b;
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}
.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

/*--------------------------------------*/

